header {
  background-color: #EAEAEA;
}

.navbar ul {
  background-color: #373737;
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 10px;
}

.navbar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.88);
}

.navbar a {
  text-decoration: none;
  color: #FBF8F8;
  font-family: serif;
  font-size: 15px;
  
}

.main-title {
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
}

.sub-title {
  font-family: serif;
  color: #646464;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}